.search {
    padding: 20px ;
    width: 200px;
   
  }
  .search > label {
    color: gray;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .search > input {
    padding: 10px;
  }

  
.red{
    color: rgb(232, 68, 68);
  }
  
  .green{
    color: rgb(44, 167, 44);
  }
  .row {
    display: flex;
      flex:4;
      
  }
  
  .column {
    flex: 30%;
  }
  .column1 {
    flex: 70%;
    padding-top: 17px;
    padding-bottom: 110px;
  }
    .card {
    
      margin: auto;
      padding: 5px;
      height: 100%;
      width: 100%;
      box-shadow: 5px 5px 10px #ccc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* align-items: flex-start;
      align-content: flex-start; */
    }
     .card1 {
      flex:4;
     padding-bottom: 143px;
     
      height: auto;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* align-items: flex-start;
      align-content: flex-start; */
    }
    .user ul {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }
   .user li {
      padding: 10px;
      margin: 10px;
      width: 250px;
      max-width: 250px;
      max-height: 400px;
      list-style-type: none;
      justify-content: flex-start;
    }
    .card > img {
      width: 100%;
      height: 50%;
    }
    .card article {
      padding: 5px;
    }
    .card h3 {
      padding: 4px;
    }
    
    .card p {
      padding: 3x;
    }
    .likeIcon{
      width: 24px;
      height: 24px;
      margin-right: 5px;
      cursor: pointer;
  }